@model KevinsMVCLab.ViewModels.GalleryViewModel

<div class="row">
    <h3>@Model.GalleryName</h3>
    @if (User.Identity.IsAuthenticated && Model.User == User.Identity.Name)
    {

        <p>
            @Html.ActionLink("Add Picture", "Create", "Picture", Model, null)
        </p>
    }
    <hr />
    @Html.Action("Show", "Picture", Model)
</div>
